@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<Libros>

    <h1>Lista de Libros</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Autor</th>
                <th>Disponible</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Libros libro in Model)
            {
                <tr>
                    <td>@libro.IdLibro</td>
                    <td>@libro.NombreLibro</td>
                    <td>@libro.AutorLibro</td>
                    <td>@(libro.Disponible ? "Sí" : "No")</td>
                </tr>
            }
        </tbody>
    </table>

}
