@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a la página para crear una gestión de bibliotecas en modo práctico.</h1>
    <center><img src="https://www.comunidadbaratz.com/wp-content/uploads/Las-Bibliotecas-Publicas-necesitan-empoderar-a-las-personas-para-construir-comunidades-fuertes.jpg" width="800px" height="600px" /> </center>
</div>
